@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(13 18 36 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(211 216 232 / var(--tw-text-opacity));
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}
h1 {
  margin-bottom: 1.25rem;
  font-size: 2.23rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  /* color: rgb(34 29 83 / var(--tw-text-opacity)); */
}
@media (min-width: 1024px) {
  h1 {
    font-weight: 800;
  }
}
